/* Table Styles */

.table-wrapper {
    visibility: hidden;
    opacity: 0;
    margin: 10px 70px 25px;
    width: 100%;
    height: fit-content;
}

.visible {
    visibility: visible;
    opacity: 1;
}

table {
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

#genTable {
    margin-top: 40px;
}

td,
th {
    text-align: center;
    padding: 8px;
}

td {
    border-right: 1px solid #f8f8f8;
    border-top: 1px solid #f8f8f8;
    border-radius: 5px;
    font-size: 14px;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

thead th {
    color: #ffffff;
    background: $grey;
}

th {
    color: #ffffff;
    background: $grey;
}

thead th:nth-child(odd) {
    color: #ffffff;
    background: $secondary;
}

th:nth-child(odd) {
    color: #ffffff;
    background: $secondary;
}

tr:nth-child(even) {
    background: #f8f8f8;
}

@media only screen and (max-width: 1130px) {
    main {
        flex-direction: column;
    }

    .info-input {
        flex-direction: row;
        width: 100%;
        margin: 10px auto 10px auto;
    }

    .table-wrapper {
        margin: 25px 5px 25px 5px;
    }
    .info-input-sub {
        width: 50%;
    }
}

/* Responsive */

// @media (max-width: 767px) {
//     table {
//         display: block;
//         width: 100%;
//     }
//     .table-wrapper:before {
//         display: block;
//         text-align: right;
//         font-size: 11px;
//         color: white;
//         padding: 0 0 10px;
//     }
//     thead,
//     tbody,
//     thead th {
//         display: block;
//     }
//     thead th:last-child {
//         border-bottom: none;
//     }
//     thead {
//         float: left;
//     }
//     tbody {
//         width: auto;
//         position: relative;
//         overflow-x: auto;
//     }
//     td,
//     th {
//         padding: 20px 0.625em 0.625em 0.625em;
//         height: 60px;
//         vertical-align: middle;
//         box-sizing: border-box;
//         overflow-x: hidden;
//         overflow-y: auto;
//         width: 120px;
//         font-size: 13px;
//         text-overflow: ellipsis;
//     }
//     thead th {
//         text-align: left;
//         border-bottom: 1px solid #f7f7f9;
//     }
//     tbody tr {
//         display: table-cell;
//     }
//     tbody tr:nth-child(odd) {
//         background: none;
//     }
//     tr:nth-child(even) {
//         background: transparent;
//     }
//     tr td:nth-child(odd) {
//         background: #f8f8f8;
//         border-right: 1px solid #e6e4e4;
//     }
//     tr td:nth-child(even) {
//         border-right: 1px solid #e6e4e4;
//     }
//     tbody td {
//         display: block;
//         text-align: center;
//     }
// }

// Classes for cell colouring the schedule table //

.charge {
    background-color: green;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mainsCharge {
    background-color: red;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
